.container {
  padding: 2em;
  padding-bottom: 3em;
  background: $secondary-colour;
  color: white;
  @include media($tablet){
    padding: 6em;
    padding-bottom: 8em;
  }
}

.container--white {
  background: $off-white-colour;
  color: $secondary-colour;
}

.container--primary {
  background: $primary-colour;
  color: $secondary-colour;
}

.content {
  @include outer-container();
}

.content--copy {
  @include media($tablet) {
  max-width: 40em;
  }

}