.container {
    padding: 2em;
    background: $secondary-colour;
    color: white;
    @include media($tablet) {
        padding: 6em;
    }
}
.container--white {
    background: $off-white-colour;
    color: $secondary-colour;
}
.container--primary {
    background: $primary-colour;
    color: $secondary-colour;
}
.container--action {
    background: $action-colour;
    color: $secondary-colour;
}
.container--post-shuttle {
    padding-top: 0em;
    margin-top: -80px;
}
.content {
    @include outer-container();
}
.content--copy {
    text-align: left;
    @include media($tablet) {
        max-width: 40em;
    }
}
.container--bullet {
    padding-bottom: 0;
    @include media($tablet) {
        padding-bottom: 2em;
    }
}
