.longform__header {
	margin-bottom: 2em;
}

.lf-header__icon {
	max-width: 50%;
	display: block;
	margin: 5em auto 1em;
	@include media($medium-screen-up){
		max-width: 20%
	}
}

.lf-header__header {
	margin-bottom: 0.25em;
	margin-top: 4em;
}

/*Styles content of .md file*/
.longform {
	padding-top: 3em;
	padding-bottom: 3em;


	h2 {
		margin-top: 2em;
	}

	h3 {
		margin-top: 2em;
	}

	h4 {
		margin-bottom: 2em;
	}
}

.longform__data {
	text-align: center;
	margin: -1em 0 2em;
	font-size: 0.8em;
	font-weight: 700;
	font-style: italic;
}

.lf-data__list {

}

.lf-data__list-item {
	display: inline-block;
	margin-right: 1em;
}