#topbar{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	background: rgba(0,0,0,0);
	transform: translate(0,0);
	transition: transform .3s .3s;
	user-select: none
}

#topbar:hover{
	background: rgba(0,0,0,0.5);
	cursor: pointer
}


#topbar.solid-nav, #topbar.detached{
	position: fixed;
	background: $black;
	color: $white;

	.logo, .hamburger, .menu {
		color: $white;
	}
}


#topbar.visible{
	opacity: 1;
	transform: translate(0,0);
}

#topbar.hidden{
	opacity:0;
	transform: translate(0,-66px);
}


#topbar .logo{
	display: inline-block;
	font-weight: 400;
	color: $white;
	text-decoration: none;
	margin: 19px 0;
	margin-left: 7.5%;
	z-index: 1;
}

#topbar .hamburger{
	position: absolute;
	margin-top: 19px;
	margin-right: 7.5%;
	top: 0;
	right: 0;
	color: $white;
}

#topbar .menu{
	position: absolute;
	top: 23px;
	right: calc(7.5% + 28px);
	color: #fff;
	font-family: $base-font-family;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}
