.homepage__flag {
	margin: 6em auto;
	@include media($medium-screen-up){
		margin: 7em auto 12em;
	}
	
}

.flag__image {
	margin: 0 auto;
	
	img {
		margin: 0 auto;
		display: block;
		@include media($medium-screen-up){
			margin-right: 0;
		}
	}
	@include media($medium-screen-up){
		@include span-columns(4)
		
	}
}

.flag__content {
	padding: 10px 2.5% 0;
	text-align: center;
	h1, h2, p {
		margin: 5px 0 0;
	}
	h2 {
		font-size: 1.35em;
	}
	@include media($medium-screen-up){
		h1, h2, p {
			text-align: left;
		}
		h2 {
			font-size: 1.8em;
		}
		@include span-columns(8);
		@include omega();
	}

	@include media($large-screen){
		h2 {
			font-size: 2em;
		}
		max-width: 600px;
	}
	
}



.shuttle-launch {
	min-height: 400px;
	background: url(/images/qtctc_asset_shuttle-launch.png) no-repeat center center;
	background-size: auto 400px;
	@include media($medium-screen-up) {
		background-size: cover;
		min-height: 550px;
	}

}

.our-mission {
	margin-top: -100px;
	color: #000;
	background-color: $white;
	padding-bottom: 2em;
	@include media($medium-screen-up){
		padding-bottom: 3em;
	}
}

.smoke-bottom {
	min-height: 30px;
	background: url(/images/qtctc_asset_smoke-bottom.png) no-repeat center top;
	background-size: auto 30px;
	@include media($medium-screen-up) {
		background-size: cover;
		min-height: 50px;
	}
}

.who-are-we {
	margin: 3em 0;
	@include media($medium-screen-up){
		padding: 2em 0;
	}
}

.show-icon{
	width: 30%;
	display: block;
	margin: 10px auto;
}

.speed, .security, .reliability {
	margin-bottom: 2em;
	padding-bottom: 1px;
}

.reliability {
	@include omega();
}


.why-static{
	@include media($medium-screen-up){
		margin-bottom: 3em;
	}
}

.click-through{
	margin-top: 5em;
	margin-bottom: 5em;
}
