.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 2em;
}

.hero--homepage {
  position: fixed;
  background: $secondary-colour;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__image {
  position: fixed;
  top: 50%;
  min-height: 100%;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  z-index: -10;
}

.hero__body {
  min-height: 20em;
  color: white;
  text-align: center;
}

.hero-body__header {
  margin-bottom: 0.25em;
}

.hero-body__subheader {
  margin-bottom: 0.5em;
}

.hero-body__icon {
  max-width: 50%; 
  display: block;
  margin: 2em auto 1em;
  @include media($tablet){
    max-width: 20%
  }
}



.dark-on-light {
    @include font-smoothing(off);
}

.light-on-dark {
    @include font-smoothing(on);
}