.shuttle-launch {
  min-height: 400px;
  margin-top: 30em;
  margin-bottom: -2em;
  background: url(/images/qtctc_asset_shuttle-launch.png) no-repeat center center;
  background-size: auto 400px;
  @include media($tablet) {
    background-size: cover;
    min-height: 550px;
  }

}

.column-third {
  margin-bottom: 2em;
  @include media($tablet){
    @include span-columns(4);
  }
}

.row {
  @include row();
}

.icon {
  display: block;
  margin: 0 auto 2em;
}

section.call-to-action {
  text-align: center;
  padding-top: 1px;

  a {
    background: $action-colour;
    color: $secondary-colour;
    padding: 1em 1.4em;
    border-radius: 12px;
    font-size: 1.6em;
    margin-top: 1em;
  }

  a:hover {
    background: $action-colour--light;
  }

  h2 {
    margin-top: 1em;
  }
}