.shuttle-launch {
  min-height: 400px;
  margin-top: 30em;
  margin-bottom: -2em;
  background: url(/images/qtctc_asset_shuttle-launch.png) no-repeat center center;
  background-size: auto 400px;
  @include media($tablet) {
    background-size: cover;
    min-height: 550px;
  }

}

.column-third {
  margin-bottom: 2em;
  @include media($tablet){
    @include span-columns(4);
  }
}

.row {
  @include row();
}


.icon-block {
  margin: 2em 0;
}

.icon-block__icon {
  display: block;
  margin: 0 auto 0.5em;
}

.icon-block__heading {
  margin-bottom: 0.5em;
}

.icon-block__body {
  margin:  0;
}

section.call-to-action {

  a {
    background: $off-white-colour;
    color: $secondary-colour;
    padding: 0.5em 0.7em;
    border-radius: 12px;
    font-size: 1.6em;
  }

  a:hover {
    background: $action-colour--light;
  }

  h2 {
    margin-top: 1em;
  }
}