{{ partial "head.html" . }}

<body>

<div class="top-banner">

	<img src="{{ .Params.topimage }}" alt="" class="top-image">
	<!-- background image at top of page -->

	{{ partial "header.html" . }}
	<!-- partial header.html is the floating top-bar & slide in menu -->


	<div class="longform__header">
		<img class="lf-header__icon" src="{{ .Params.image }}">
		<!-- central image in header -->
		<h1 class="lf-header__header">{{ .Title }}</h1>

		<h3 class="header__subheader">{{ .Params.subheader}}</h3>
	</div>
	<!-- end .longform__header -->

</div>
<!-- end .top-banner -->

<section class="longform">
<!-- .longform styles HTML elements written from .md files -->

	<div class="longform__data">

		<ul class="lf-data__list">
			<li class="lf-data__list-item">Posted: {{ .Date.Format "2006-01-02" }}</li>
			<li class="lf-data__list-item">By: {{ .Params.author }}</li>
		</ul>
		
	</div>
	<!-- end .longform__data -->

	<div class="content content--copy">
	<!-- .content applies Neat outer container and max-width:90%; .content-copy restricts width to 40em on $medium-screen-up -->

		{{ .Content }}
		<!-- call content of relevant .md file -->

	</div>
	<!-- end .content/.content-copy -->
</section>
<!-- end section .longform -->

{{ partial "footer.html" . }}