{{ partial "head.html" . }}

<body>

{{ partial "header.html" . }}

<div>
  <!-- <img class="header__icon" src="/images/persianpursuitslogo.png"> -->
  <h1>Case Studies</h1>
  <h3>What I've learnt along the way</h3>
</div>




<section>

  <div>

  <div>
     <h4>Why write these?</h4>

    <p>I strongly believe that analysing your past projects help inform your next one. Only by scrutinising what I got right, and more importantly what I got wrong; can I improve. These case studies can be long, so I suggest grabbing a hot cup of something, and settling in.</p> 

  </div>

   
  </div>

</section>

<section>

  <div>




    <div>
      
      <div>
        <a href="/casestudy/jakemorrell/"><h2>Jake Morrell Band</h2></a>
        <p>I re-designed Jake's existing site and built a future-proof platform that acts as a focal-point for his social media network, and will evolve with the band as they grow.</p>
        <p>December 2013 &amp; January 2015</p>
      </div>
    </div>

    <div>
      
      <div>
        <a href="/casestudy/calummallory/"><h2>Calum Mallory</h2></a>
        <p>I created a brand to support Calum's fundraising projects and promote him as a climber that's a little different from the rest.</p>
        <p>June 2014</p>
      </div>
    </div>

    <div>
      
      <div>
        <a href="/casestudy/persianpursuits/"><h2>Persian Pursuits</h2></a>
        <p>Persian Pursuits was a startup when they came to me looking for a website to promote their new business idea. I built a website that is a strong foundation for them to grow their business in the coming years.</p>
        <p>November 2014</p>
      </div>
    </div>

  </div>
</section>

{{ partial "footer.html" . }}