{{ partial "head.html" . }}

<body class="background--space">

{{ partial "header.html" . }}

<div class="casestudy__header123">
  <!-- <img class="header__icon" src="/images/persianpursuitslogo.png"> -->
  <h1 class="header__header">Case Studies</h1>
  <h3 class="header__subheader">What I've learnt along the way</h3>
</div>




<section>

  <div class="content">

  <div class="casestudies__intro">
     <h4>Why write these?</h4>

    <p>I strongly believe that analysing your past projects help inform your next one. Only by scrutinising what I got right, and more importantly what I got wrong; can I improve. These case studies can be long, so I suggest grabbing a hot cup of something, and settling in.</p> 

  </div>

   
  </div>

</section>

<section class="casestudies">

  <div class="content">




    <div class="comment">
      
      <div class="comment-content">
        <a href="/casestudy/jakemorrell/"><h2>Jake Morrell Band</h2></a>
        <p>I re-designed Jake's existing site and built a future-proof platform that acts as a focal-point for his social media network, and will evolve with the band as they grow.</p>
        <p class="comment-detail">December 2013 &amp; January 2015</p>
      </div>
    </div>

    <div class="comment">
      
      <div class="comment-content">
        <a href="/casestudy/calummallory/"><h2>Calum Mallory</h2></a>
        <p>I created a brand to support Calum's fundraising projects and promote him as a climber that's a little different from the rest.</p>
        <p class="comment-detail">June 2014</p>
      </div>
    </div>

    <div class="comment">
      
      <div class="comment-content">
        <a href="/casestudy/persianpursuits/"><h2>Persian Pursuits</h2></a>
        <p>Persian Pursuits was a startup when they came to me looking for a website to promote their new business idea. I built a website that is a strong foundation for them to grow their business in the coming years.</p>
        <p class="comment-detail">November 2014</p>
      </div>
    </div>

  </div>
</section>

{{ partial "footer.html" . }}