{{ partial "head.html" . }}

<body>

    {{ partial "header.html" . }}

  <div class="hero">

    <div class="hero__body">
      <!-- <img class="hero-body__icon" src="/images/qtctc_asset_atom.png" alt="Vector icon of an atom"> -->
      
      <h1 class="hero-body__header">{{ .Title }}</h1>
      <h2 class="hero-body__subheader">{{ .Params.subheader }}</h2>
    </div>

  </div>


  <section class="container container--white">

    {{ range .Data.Pages.GroupByDate "2006" }}
    <h2 class="mt-nill">{{ .Key }}</h2>
    <ul class="no-dec">
      {{ range .Pages }}
      {{ .Render "li"}}
      {{ end }}
    </ul>
    {{ end }}
    
  </section>
  <!-- end section .longform -->

  {{ partial "footer.html" . }}