<footer class="footer">
    <div class="footer-links">
        <ul>
            <li>
                <h3>Content</h3></li>
            <li><a href="/casestudy">Case Studies</a></li>
            <li><a href="/post">Blog</a></li>
        </ul>
        <ul>
            <li>
                <h3>Follow Me</h3></li>
            <li><a href="https://twitter.com/jamiedumont"><i class="fa fa-footer fa-twitter-square"></i>Twitter</a></li>
            <li><a href="https://github.com/jamiedumont"><i class="fa fa-footer fa-github-square"></i>GitHub</a></li>
        </ul>
        <ul>
            <li>
                <h3>Legal</h3></li>
            <li><a href="/terms">Terms &amp; Conditions</a></li>
        </ul>
    </div>

    <hr>

    <p>&copy; 2015 Jamie Dumont</p>
</footer>






<!-- Modernizr -->
<script src="/js/modernizr-min.js"></script>

<script src="/js/main-min.js" type="text/javascript"></script>


</body>

</html>
