<header class="topbar">

    <div class="topbar__logo">
        <a href="/"><img src="/images/qtctc_asset_logo.svg" alt=""></a>
    </div>

    <nav>
        <ul class="topbar__beta-nav">
            <!-- <li><a href="#">Contact</a></li> -->
        </ul>
    </nav>

    <a href="#" class="topbar__alpha-nav-trigger">
        <span class="trigger__text">Menu</span>
        <span class="trigger__icon"></span>
    </a>

</header>

<nav>

    <ul class="alpha-nav">
        <li class="alpha-nav__label">Main Menu</li>

        <li><a href="/casestudy">Case Studies</a></li>
        <li><a href="/post">Journal</a></li>

        <li class="alpha-nav__label">Contact</li>

        <li class="alpha-nav__social"><a href="mailto:jamiedumont@icloud.com"><i class="fa fa-envelope-o"></i></a></li>
        <li class="alpha-nav__social"><a href="https://twitter.com/jamiedumont"><i class="fa fa-twitter-square"></i></a></li>
        <li class="alpha-nav__social"><a href="https://github.com/jamiedumont"><i class="fa fa-github-square"></i></a></li>
    </ul>

</nav>
