<header class="topbar">

  <div class="topbar__logo">
    <a href="/"><img src="/images/cd-logo.svg" alt=""></a>
  </div>

  <nav>
    <ul class="topbar__beta-nav">
      <li><a href="#">Ethos</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <a href="#" class="topbar__alpha-nav-trigger">
    <span class="trigger__text">Menu</span>
    <span class="trigger__icon"></span>
  </a>

</header>

<nav>

  <ul class="alpha-nav">
    <li class="alpha-nav__label">Dummy Content</li>

    <li><a href="#">More</a></li>
    <li><a href="#">Dummy</a></li>
    <li><a href="#">Links</a></li>

    <li class="alpha-nav__social"><a href="mailto:jamie@tactically-creative.co.uk">Mail</a></li>
    <li class="alpha-nav__social"><a href="https://www.facebook.com/tacticallycreative">Facebook</a></li>
    <li class="alpha-nav__social"><a href="https://twitter.com/tac_Creative">Twitter</a></li>
    <li class="alpha-nav__social"><a href="https://github.com/TacticallyCreative">GitHub</a></li>
  </ul>

</nav>