{{ partial "head.html" . }}

<body>

		{{ partial "header.html" . }}

	<div class="hero--fixed">

		<div class="hero__body">
			<img class="hero-body__icon" src="/images/qtctc_asset_atom.png" alt="Vector icon of an atom">
			
			<h1 class="hero-body__header">Online Peace of Mind</h1>
			<h2 class="hero-body__subheader">Static Web Specialists</h2>
			<p>Websites can <strong>(and should) </strong>be so much simpler. We make building a site for your growing business effortless.</p>
		</div>

	</div>



	 <div class="shuttle-launch"></div>

	<section class="container container--white">
	   <div class="content">

	      <h2>Our Mission</h2>
	      <h3>We build fast, reliable &amp; secure websites that save businesses from the pitfalls of Wordpress</h3>

	      <p>Building a site for your business is time-consuming, costly and frankly confusing if you use the 'industry standard' tools. After years working with systems like Wordpress, we've got little respect for the "standards". We believe they are outdated, restrictive and costly in so many ways.</p>

	      <p>We've reimagined what a bespoke web design process should look like. The result is a process and set of tools that make it simple, powerful, affordable but importantly; fun to build a website that allows you to focus on growing your business.</p>

	      <!-- <a href="">The benefits of working with us</a> -->


	  </div>
	</section>

	</section>



	<section class="container">
		<div class="content">
			<h2>Why Tactically Creative?</h2>

			<p>Tactically Creative exists because we saw that "Web Design" as a service is a little bit broken. Big businesses can manage the shortcomings of an expensive, complex and time-consuming process, but smaller ones get excluded from access to professional services. We fix that problem, and tailor our services specifically for small business and entrepreneurs, who want the peace of mind and high performance that working with a professional brings.</p>

			<p>We want the process of putting your ideas out into the world to be exhilerating, and not marred by it's complexities or expense. The world increasingly belongs to brilliant thinkers starting their own ventures, not corporate enterprises; and we provide them the tools to take on the big boys!</p>

			<p>Working with Tactically Creative is like nothing else out there at the moment.</p>

			<a href="/ethos">Learn about what makes us different</a>

		</div>
	</section>




	<section class="container container--primary">

		<div class="content">

			<h2>Why Static?</h2>

			<div class="row">

			<div class="column-third">
				<img class="icon" src="/images/qtctc_asset_speed.png" alt="">
				<h3>Speed</h3>
				<p>
					Speed equates directly to money these days, and static sites are Roadrunner to Wordpress' Coyote. They'll always be faster and just one step ahead.
				</p>
			</div>

			<div class="column-third">
				<img class="icon" src="/images/qtctc_asset_secure.png" alt="">
				<h3>Security</h3>
				<p>Is adding that plugin safe? Are you sure? You might have just invited hackers to your party. Never again on a static site.</p>
			</div>

			<div class="column-third">
				<img class="icon" src="/images/qtctc_asset_reliable.png" alt="">
				<h3>Reliability</h3>
				<p>With no moving parts to go wrong, a static site will handle whatever traffic your audience throws at it.</p>
			</div>

			</div>

		

			<p>In short, static sites are fast, lightweight, reliable and they scale well. They are more secure, simple to maintain and they allow you to focus all your time and effort on the site's user interface and content. Often, this dedication really shows and places a truly powerful asset at your business' disposal.</p>

			<p>The biggest problem is allowing non-technical people a method of updating static sites...so we fixed that too!</p>

			<p><strong>Static sites are a much better asset to your business than Wordpress ever could be.</strong></p>

			

		<a href="/whystatic">Find out what makes static so much better...</a>

		</div>


		

	</section>

	<section class="call-to-action container">
		<div class="content">
			
			<a href="/casestudy/">Why go static?</a>
			<h2>Everything your business ever needed.</h2>
		</div>
	</section>

</div>
{{ partial "footer.html" . }}
