{{ partial "head.html" . }}

<body>

  <!-- {{ partial "header.html" . }} -->

  <div class="hero--fixed">

    <div class="hero__body">
      <img class="hero-body__icon" src="/images/logo.png" alt="Vector icon of an atom">

      <!-- <h1 class="hero-body__header">Straight-talking Digital Design</h1> -->
      <!-- <h2 class="hero-body__subheader">Saving businesses from the pitfalls of Wordpress</h2> -->


    </div>
    <!-- End .hero__body -->

  </div>
  <!-- End .hero--fixed -->

  <div id="shuttle-rumble">

    <div class="shuttle-launch"></div>

    <section id="learn-more" class="container container--white container--post-shuttle">
      <div class="content">

        <h2>Straight-talking digital design</h2>

        <div class="" style="margin: 0 auto 3em; max-width: 720px;">

          <!-- <div class="icon-block column-third">
            <img class="icon-block__icon" src="/images/qtctc_asset_secure.png" alt="Vector icon of padlock">
            <h3 class="icon-block__heading">Secure</h3>
            <p class="icon-block__body">Is adding that plugin safe? Are you sure? You might have just invited hackers to the party! Your site should be as secure as possible, and plugins can compromise that.</p>
          </div>

          <div class="icon-block column-third">
            <img class="icon-block__icon" src="/images/qtctc_asset_speed.png" alt="Vector icon of lightning bolt">
            <h3 class="icon-block__heading">Fast</h3>
            <p class="icon-block__body">
              Your users shouldn't be choking through heavy, bloated sites. The speed of your site equates directly to your financial performance afterall...
            </p>
          </div>

          <div class="icon-block column-third">
            <img class="icon-block__icon" src="/images/qtctc_asset_reliable.png" alt="Vector icon of life-saving ring">
            <h3 class="icon-block__heading">Reliable</h3>
            <p class="icon-block__body">It's not too much to ask for your site to stay online, even when hit with heavy traffic. You shouldn't fear making updates or have to worry about your site!</p>
          </div> -->

                <p>Tactically Creative is how I help small businesses with their websites and apps. That <em>"help"</em> can range from occasional consultancy, all the way to creating a bespoke website from scratch.</p>

                <p>I often help business' with their online strategy, and then build and manage their site as part of a <em>"start-to-finish"</em> service. However, if you'd prefer sit down over a coffee and thrash out your website's woes in an intense consultation, I'm game! Whatever you choose, you get access to all of my knowledge, skills and experience in a format that works for you.</p>

                <p>Fundamentally, I want to give you the peace of mind to focus on your business; I'll take care of your site.
                </p>

        </div>
        <!-- End .row -->
            <div>
              <form action="https://formspree.io/jamie@tactically-creative.co.uk" method="POST">
                <input id="email" placeholder="Your email address..." type="email" name="_replyto">
                <input type="hidden" name="_next" value="/thanks" />
                <input type="hidden" name="_subject" value="Tactically Creative Enquiry" />
                <input type="text" name="_gotcha" style="display:none" />
                <input id="subscribe" type="submit" value="Enquire">
              </form>
            </div>

        <!-- <h4>Nail these, and your site becomes an asset and the lifeblood of your business.</h4> -->

      </div>
      <!-- End .content -->

    </section>
    <!-- End .container -->

  </div>
  <!-- End #shuttle-rumble -->

  <section class="container">

    <div class="content">

      <div class="icon-block">
        <!-- <img class="icon-block__icon" src="/images/qtctc_asset_peace-of-mind-icon.png" alt="Peace of Mind"> -->
        <h2 class="icon-block__heading">Who am I?</h2>
        <div style="margin: 0 auto; max-width: 720px;">

          <p>I'm Jamie Dumont, and I'm an odd hybrid of a designer, developer &amp; a business owner <span style="color: rgba(255,255,255,0.6);font-size: 0.8em;">(who can't stand the word <em>"entrepreneur"</em>)...</span> I not only build digital <strong>*stuff*</strong> for other people, but also myself and my own business.</p>

          <p>I'm a great believer in what small, independent businesses can achieve, and the value that thoughtful digital design can offer them. I've decided to no longer work with any businesses that have taken any venture capital...</p>

        </div>


      </div>
      <!-- End .icon-block -->

    </div>
    <!-- End .content -->

  </section>
  <!-- End .container -->

  <!-- <section class="container container--white">

    <div class="content">

      <div class="row column-halves">

        <article>

          <h3>Our Mission</h3>

          <p>
            <strong>Build websites in an unconventional way to deliver complete peace of mind.</strong>
          </p>

          <p>We saw that "Web Design" as a service is a little bit broken. Big businesses can manage an expensive, complex and time-consuming process, but smaller ones get excluded from access to professional services. We fix that problem, and tailor our
            services specifically for small businesses and entrepreneurs, who want the peace of mind and high performance that working with a professional brings.</p>

        </article>

        <article>

          <h3>Why Tactically Creative?</h3>

          <p>We've reimagined what a bespoke web design process should look like. The result is a process and set of tools that make it simple, powerful, affordable but importantly; fun to build your website.</p>

          <p>We want the process of putting your ideas out into the world to be exhilerating, and not marred by it's complexities or expense. The world increasingly belongs to brilliant thinkers starting their own ventures, not corporate enterprises; and
            we provide them the tools to take on the big boys!</p>

        </article>

      </div> -->
      <!-- End .row -->

      <!-- <h4>Oh, and we're a small company just like you...</h4> -->

    <!-- </div> -->
    <!-- End .content -->

  <!-- </section> -->
  <!-- End .container -->


  <section class="container container--action">

    <div class="content">

      <div class="cd-testimonials-wrapper cd-container">

        <ul class="cd-testimonials">

          <li>

            <p>With his personal approach to my project I found I got the results I was looking for, not only in the initial designing &amp; building process but every time I have updated or changed my site...you will not be disappointed with his services!</p>

            <div class="cd-author">

              <img src="images/qtctc_asset_jake-avatar.jpeg" alt="Image of Jake Morrell">

              <ul class="cd-author-info">

                <li>Jake Morrell</li>

                <li>Musician</li>

              </ul>

            </div>

          </li>

        </ul>
        <!-- cd-testimonials -->

      </div>
      <!-- cd-testimonials-wrapper -->

    </div>
    <!-- End .content -->

  </section>
  <!-- End .container -->


  <!-- <div class="side-image">

    <div class="images-wrapper"></div>

    <div class="side-image-content">

      <h2>Working with Us</h2>

      <h4>Objective-based Design</h4>

      <p>We believe in setting ambitious goals and then knocking them down one-by-one. By breaking down big tasks into smaller cycles of work, we stay focussed on the desired result.</p>

      <p>Working this way allows us to test our ideas and strategies, and back our decisions with solid data. Objective-based Design ensures our clarity of vision remains unhindered.</p>

    </div> -->
    <!-- End .side-image-content -->

  <!-- </div> -->
  <!-- End .side-image -->

  <section class="container container--white container--bullet">

    <div class="content">

      <ul class="bullets">

        <li class="bullet">

          <div class="bullet-icon bullet-icon-1">
            <i class="fa fa-flask"></i>
          </div>
          <div class="bullet-content">
            <h2>It ain't always easy...</h2>
            <p>I've been experimenting with design and web development for the last eight years, and know from starting my own business how tricky it can be to distill what you do into a website. Every small business' challenges are unique, and I aim to cater specifically to them; rather than resort to a cookie-cutter approach.</p>
          </div>
        </li>
        <li class="bullet">
          <div class="bullet-icon bullet-icon-2">
            <i class="fa fa-scissors"></i>
          </div>
          <div class="bullet-content">
            <h2>Bureaucracy be gone!</h2>
            <p>The net result of working with a professional should be less work and stress for you as a business owner, but also a vastly better end result. To that end, I keep the red-tape around my pricing and contracts to a bearable minimum so that we don't get distracted from actually getting stuff done!</p>
          </div>
        </li>
        <li class="bullet">
          <div class="bullet-icon bullet-icon-3">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="bullet-content">
            <h2>Not just a pretty face.</h2>
            <p>I'm very particular about the websites I build, making sure that they are fast, reliable and long-lived. That requires keeping things simple, but fortunately, "simple" means that I can spend more time designing a site that will delight your users, and grow your business.</p>
          </div>
        </li>
      </ul>


    </div>
  </section>

  <section id="enquire" class="container call-to-action">
    <div class="content">

      <!-- <h2>Everything your business ever needed.</h2> -->
      <p style="text-align: center;"><strong>Interested in improving your business?</strong><br/> Pop your email address in below, and I'll get back to you.</p>

      <div>
        <form action="https://formspree.io/jamie@tactically-creative.co.uk" method="POST">
          <input id="email" placeholder="Your email address..." type="email" name="_replyto">
          <input type="hidden" name="_next" value="/thanks" />
          <input type="hidden" name="_subject" value="Tactically Creative Enquiry" />
          <input type="text" name="_gotcha" style="display:none" />
          <input id="subscribe" type="submit" value="SEND">
        </form>
      </div>

    </div>
  </section>

  {{ partial "footer.html" . }}
