{{ partial "head.html" . }}

<body>

	{{ partial "header.html" . }}

	<div class="hero--fixed">

		<div class="hero__body">
			<img class="hero-body__icon" src="/images/qtctc_asset_atom.png" alt="Vector icon of an atom">
			
			<h1 class="hero-body__header">Intelligent Web Solutions</h1>
			<h2 class="hero-body__subheader">Static Web Specialists</h2>
			<p>Websites can <strong>(and should) </strong>be so much simpler. We make building a site for your growing business effortless.</p>
		</div>

	</div>



	<div class="shuttle-launch"></div>

	<section class="container container--white container--post-shuttle">
		<div class="content">


			<h2>The Lifeblood of a Business</h2>

			<p>Quickly, ask yourself what your website does for your business. Think on these questions...</p>

			<ul class="question-answer">
				<li class="question">Does it load in under 1 second?</li>
				<div class="expander">
				  <a href="javascript:void(0)" id="js-expander-trigger-1" class="expander-trigger expander-hidden">If not then...</a>
				  <div id="js-expander-content" class="expander-content">
				    <li class="answer">...you could be turning off valuable customers everytime they visit your site. Bounce rates, conversion rates and even revenue are all directly linked to speed; so make sure it's fast!</li>
				  </div>
				</div>
				
				<li class="question">How much time do you spend developing/maintaining your website?</li>
				<div class="expander">
				  <a href="javascript:void(0)" id="js-expander-trigger-2" class="expander-trigger expander-hidden">Is that too much?</a>
				  <div id="js-expander-content" class="expander-content">
				    <li class="answer">Your website should support your business. If it requires you to spend more time babysitting it than actually doing business...well, you can see the problem. Website development shouldn't be an arduous or time-intensive process, and maintainance should be a breeze!</li>
				  </div>
				</div>


				<li class="question">What would be the cost of your site going offline suddenly?</li>
				<div class="expander">
				  <a href="javascript:void(0)" id="js-expander-trigger-3" class="expander-trigger expander-hidden">Hint: it's a lot!</a>
				  <div id="js-expander-content" class="expander-content">
				    <li class="answer">When a site crashes, not only do you frantically throw money at the problem to get it fixed as fast as possible, you also lose every lead that <em>could</em> have become a customer. A website crashing is possibly the most expensive thing that can happen to a small business.</li>
				  </div>
				</div>

				<li class="question">How much sensitive information does your site handle? How secure is it?</li>
				<div class="expander">
				  <a href="javascript:void(0)" id="js-expander-trigger-4" class="expander-trigger expander-hidden">We hope "very"...</a>
				  <div id="js-expander-content" class="expander-content">
				    <li class="answer">Everyone's data is digital these days, which means that internet crime has bigger payoffs than ever before. A site's security is always being tested by those with malicious intent, and unfortunately the web at large has a lot of catching up to do!</li>
				  </div>
				</div>
		
				</ul>


				
				<!-- <p>Unfortunately the technologies and processes open to small business are often what cause shortfalls in these areas. Small businesses don't often have the time or money to ensure that their websites are always at their best. Over time, decisions are made which compromise the performance, reliability and even security of the site. Ultimately, this damages both your wallet and your peace of mind.</p> -->

				<p>A business can live and die by the website they present the world. That why I presume you spend whatever time, money and energy you can spare maintaining yours? The problem is that often this distracts you from you know, actually running the business!</p>

				<p>Your website should be your business' best asset, not your biggest source of worry. </p>


				<h2>How can we make this better?</h2>

				<div class="row">

					<div class="icon-block column-third">
						<img class="icon-block__icon" src="/images/qtctc_asset_secure.png" alt="Vector icon of padlock">
						<h3 class="icon-block__heading">Security</h3>
						<p class="icon-block__body">Is adding that plugin safe? Are you sure? You might have just invited hackers to your party. </p>
					</div>

					<div class="icon-block column-third">
						<img class="icon-block__icon" src="/images/qtctc_asset_speed.png" alt="Vector icon of lightning bolt">
						<h3 class="icon-block__heading">Performance</h3>
						<p class="icon-block__body">
							Users shouldn't be choking through heavy, bloated sites. Speed equates to financial performance afterall...
						</p>
					</div>

					<div class="icon-block column-third">
						<img class="icon-block__icon" src="/images/qtctc_asset_reliable.png" alt="Vector icon of life-saving ring">
						<h3 class="icon-block__heading">Reliability</h3>
						<p class="icon-block__body">Is it too much to ask for your site to stay online, even when hit with heavy traffic?</p>
					</div>

				</div>
				
				<div class="icon-block">
				<img class="icon-block__icon" src="/images/qtctc_asset_reliable.png" alt="">
				<h3 class="icon-block__heading">Simply Deliver Peace of Mind</h3>
				<p class="icon-block__body">Delivering a website that accomplishes all three is incredibly complex. That complexity drives up both the cost of the system but also it's intricacy, making it very inflexible and brittle. Updating or augmenting these sites can be a minefield, and once again expensive.</p>

				<p>What if, instead of 'adding' components and systems to make a site fast or reliable, you strip stuff away? It's been said that "simplicity is the ultimate sophistication". This applies to websites perfectly. By using simple tools, in an intelligent manner, you can build the same high-performance result; without the unnecessary cost or worry.</p>

				<p>What if you were able to provide your business with a cost-effective site, that met these criteria and delivered complete peace of mind? How much more could you accomplish by concentrating on your business, and it's evolution? </p>
				</div>


			</div>
		</section>

	</section>



	<section class="container">
		<div class="content">

			<h2>Our Mission</h2>
			<h3>We build fast, reliable &amp; secure websites that save businesses from the pitfalls of Wordpress</h3>

			<p>Building a site for your business is time-consuming, costly and frankly confusing if you use the 'industry standard' tools. After years working with systems like Wordpress, we've got little respect for the "standards". We believe they are outdated, restrictive and costly in so many ways.</p>

			<p>We've reimagined what a bespoke web design process should look like. The result is a process and set of tools that make it simple, powerful, affordable but importantly; fun to build a website that allows you to focus on growing your business.</p>

			<!-- <a href="">The benefits of working with us</a> -->
			<h2>Why Tactically Creative?</h2>

			<p>Tactically Creative exists because we saw that "Web Design" as a service is a little bit broken. Big businesses can manage the shortcomings of an expensive, complex and time-consuming process, but smaller ones get excluded from access to professional services. We fix that problem, and tailor our services specifically for small business and entrepreneurs, who want the peace of mind and high performance that working with a professional brings.</p>

			<p>We want the process of putting your ideas out into the world to be exhilerating, and not marred by it's complexities or expense. The world increasingly belongs to brilliant thinkers starting their own ventures, not corporate enterprises; and we provide them the tools to take on the big boys!</p>

		</div>
	</section>




	<section class="container container--primary">

		<div class="content">

			<div class="cd-testimonials-wrapper cd-container">
				<ul class="cd-testimonials">
					<li>
						<p>I cannot give high enough praise for the work that they have done for me. Work that they still continue to do today. A high recommendation from me, I assure you. You will not be disappointed with their services.</p>
						<div class="cd-author">
							<img src="images/qtctc_asset_jake-avatar.jpeg" alt="Image of Jake Morrell">
							<ul class="cd-author-info">
								<li>Jake Morrell</li>
								<li>Musician</li>
							</ul>
						</div>
					</li>
					
				</ul> <!-- cd-testimonials -->

			</div> <!-- cd-testimonials-wrapper -->

		</div>

	</section>

	<!-- <section class="container container--white">
		
		<div class="content">
			
			<h2>Benefit for your business: Peace of Mind</h2>

			<h3>Fringe benefits</h3>

			<h4>Etx</h4>

			<h4>More</h4>

		</div>

	</section> -->

	<section class="container call-to-action">
		<div class="content">
			
			
			<h2>Everything your business ever needed.</h2>
			<p>Interested in what we can do for your business? Pop your email address in below, and we'll be in touch shortly!</p>

			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="//tactically-creative.us11.list-manage.com/subscribe/post?u=cad583425b1477b9d8dd7177c&amp;id=ddaa2ea89f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				
						<div class="mc-field-group">
							<input type="email" value="" placeholder="Your email address" name="EMAIL" class="required email" id="mce-EMAIL">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_cad583425b1477b9d8dd7177c_ddaa2ea89f" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Enquire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
				</form>
			</div>

<!--End mc_embed_signup-->
		</div>
	</section>

	<!-- <section class="container container--action call-to-action">
		<div class="content">

			<h3>Secondary link CTA</h3>

			<a href="/casestudy/">Why go static?</a>
		</div>
	</section> -->

</div>
{{ partial "footer.html" . }}
