/*http://somadesign.ca/demos/better-google-fonts/*/

html, body {
	height: 100%;
  font-family: $body-font;
  font-weight: 300;
  @include font-smoothing(off);


}

h1 {
  font-size: 2.6em;
  color: $secondary-colour;
  background: #E36767;
  font-family: 'Sansita One';
  margin: 0 auto;
  text-shadow: 1px 1px 0px #E36767, 2px 2px 0px #E89E9E;
  transform: rotate(-2deg);
}

h2 {
  font-family: 'Yellowtail';
  font-weight: 300;
  font-size: 1.6em;
  transform: rotate(-2deg);
  text-align: center;
  margin-bottom: 2em;


}

p {
  margin: 1em 0;
}

a {
	text-decoration: none;
	color: $action-colour;
}