/*p {
	@include media($medium-screen-up){
    text-align: left;
  }
}*/

h1 {
	@include media($medium-screen){
    font-size: 2.5em;
  }
  @include media($large-screen){
    font-size: 3em
  }
}

h2 {
	@include media($medium-screen){
    font-size: 1.8em
  }
  @include media($large-screen){
    font-size: 2.5em
  }
}

h3 {
	@include media($medium-screen){
    font-size: 1.6em;
  }
  @include media($large-screen){
    font-size: 2em
  }
}