$action-colour: #E36767;
$action-colour--light: #E89E9E;
$off-white-colour: #ECEBE8;
$primary-colour: #00D1FF;
$secondary-colour: rgba(2, 23, 37, 1);
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$body-font: "Lato",
Helvetica,
Arial,
sans-serif;
